/* index.php */
main {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

main .content {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1rem;
}

main .content-box p {
  line-height: 1.6;
  color: #34495e;
}

.content-box {
  background-color: #ecf0f1;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

/* dashboard.php */
body {
  font-family: Arial;
  background: #f4f4f4;
}
h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 5rem;
}
table {
  margin: 50px auto;
  border-collapse: collapse;
  width: 60%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
button {
  cursor: pointer;
}
.form-add {
  margin: 50px auto;
  width: 60%;
}
th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background: #007bff;
  color: #fff;
}
input[type="text"] {
  padding: 8px;
  width: 40%;
  margin: 5px;
}
.selection {
  padding: 8px;
  width: 40%;
  margin: 5px;
}
button {
  padding: 8px 12px;
  margin: 5px;
}
